.padre-projects {
    width: 100%;
    height: auto;
    position: relative;
    scroll-margin-top: 15ex;
   text-align: center;
  }
  
  
  .cont-projects{
  
    width: 100%;
    padding: 0 10%;
    height: auto;
   display: flex;
   justify-content: space-around;

  }


 
  .cardProjects{
    box-shadow: 3px 2px 13px 3px rgba(0,0,0,0.67);
    overflow: hidden;
    width: 22vw;
 height: 60vh;
 margin-top: 3%;
 border-radius: 27px 27px 27px 27px;
    background-color: #ffffff;
    filter: grayscale(100%);
        }

#party:hover, #music:hover, #album:hover{
 transition: 0.5s;
  filter: grayscale(0%);
}

#party:hover{
  box-shadow: -2px -5px 15px 5px rgba(255, 103, 103, 0.67);
}
#music:hover{
  box-shadow: -2px 5px 15px 5px rgba(230,185,66,0.67);
}
#album:hover{
  box-shadow: -2px 5px 15px 5px rgba(30,175,187,0.67);
}

    .imgBanner{
      width: 100%; 
      height: 40%; 
      overflow: hidden;
     
    }
    .imgBanner img{
      width: 100%; 
    height: auto; 
    display: block;
    }
    .bannerText{
      width: 100%;
      height: max-content;
      padding: 9% 5%;
      display: flex;flex-direction: column; align-items: center;
    }